results/**
resources/**
.snakemake
.snakemake/**
logs/**
*.pyc
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pyre type checker
.pyre/
.snakemake/
.ipynb_checkpoints/
*.png
*.nc
*.csv

*.core
*.pdf
*.svg
*.core.*

.vscode/
aerocom/
*.out
*.html